.headerContainer {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    width: 300px;
    height: 450px;
    padding: 1em;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 10px solid var(--clr-accent);
    border-radius: 10px;
}

.headerBanner {
    width: 100%;
    padding: 10px 0; /* Add some padding top and bottom */
    background-color: var(--clr-accent);
    display: flex;
    flex-wrap: nowrap; /* Ensure images are in a single line */
    overflow-x: auto; /* Allow horizontal scrolling */
    align-items: center;
    position: relative; /* Changed from absolute if not needed */
    z-index: 10;
}


.headerItem {
    width: 100px;
    height: 100px;
    border: 2px solid var(--clr-dark);
    border-radius: 5px;
}

.searchButton {
    padding: 10px 20px;
    background: var(--clr-accent);
    color: var(--clr-light);
    border: none;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #d78ea3;
}

.imageBox {
    width: 80%;
    height: 700px; /* Adjust the height if needed */
    margin: 150px auto 0; /* This pushes the container down to make space for the header */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imageItem {
    width: 300px;
    height: 450px;
    padding: 1em;
    font-weight: 700;
    color: #f1f5f9; /* This is your light color */
    text-align: center;
    border: 10px solid #e11d48; /* This is your accent color */
    border-radius: 10px;
    background-color: #0f172a; /* This is your dark color */
}


