<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snapshot Album</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/album_styles.css')}}">
</head>
<body>

<input type="text" id="query" placeholder="Search">
<button id="searchButton">Search</button>

<div id="results"></div>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>

    <h1>Snapshot Album</h1>
    <div class="image-container">
        {% for image in images %}
            <!-- Add class="album-image" to apply styles -->
            <img src="{{ url_for('serve_image', filename=image) }}" alt="Snapshot" class="album-image">
        {% endfor %}
    </div>

    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='js/album.js') }}"></script>
</body>
</html>
