<!--<!DOCTYPE html>
<html>
<head>
    <title>Custom Search</title>
</head>
<body>

<input type="text" id="query" placeholder="Search">
<button id="searchButton">Search</button>

<div id="results"></div>

&lt;!&ndash; Include the JavaScript file &ndash;&gt;
<script src="{{ url_for('static', filename='js/search.js') }}"></script>

</body>
</html>-->

<!DOCTYPE html>
<html>
<head>
    <title>Custom Search</title>
</head>
<body>

<input type="text" id="query" placeholder="Search">
<button id="searchButton">Search</button>

<div id="results"></div>

<!-- Include the JavaScript file -->
<script src="search.js"></script>

</body>
</html>

